<%= simple_form_for(profile) do |f| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :firstName, label: 'First Name',:input_html => {:maxlength =>2,:style=> 'width: 300px'}%>
  <%= f.input :lastName, label: 'Last Name',:input_html => {:maxlength =>2,:style=> 'width: 300px'} %>
  <%= f.input :building, label: 'Building',:input_html => {:maxlength =>2,:style=> 'width: 300px'} %>
  <%= f.input :street, label: 'Street',:input_html => {:maxlength =>2,:style=> 'width: 300px'} %>
  <%= f.input :city, label: 'City',:input_html => {:maxlength =>2,:style=> 'width: 300px'} %>
  <%= f.input :pincode, label: 'Pin Code',:input_html => {:maxlength =>2,:style=> 'width: 300px'} %>
  <%= f.input :mobile, label: 'Mobile',:input_html => {:maxlength =>2,:style=> 'width: 300px'} %>
  <%= f.input :dateOfBirth, label: 'Date Of Birth',:input_html => {:maxlength =>2,:style=> 'width: 300px'} %>
  <%= f.input :idProof, label: 'Id Proof',:input_html => {:maxlength =>2,:style=> 'width: 300px'} %>
  <%= f.input :email,label:'Email', placeholder: 'user@domain.com',:input_html => {:maxlength =>2,:style=> 'width: 300px'} %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
