<%= simple_form_for(store_detail) do |f| %>
  <% if store_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(store_detail.errors.count, "error") %> prohibited this store_detail from being saved:</h2>

      <ul>
      <% store_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :store_name, label: 'Your Storename',:input_html => {:maxlength =>2,:style=> 'width: 300px'}%>
  <%= f.input :building, label: 'Building',:input_html => {:maxlength =>2,:style=> 'width: 300px'} %>
  <%= f.input :street, label: 'Street Name',:input_html => {:maxlength =>2,:style=> 'width: 300px'} %>
  <%= f.input :city, label: 'City',:input_html => {:maxlength =>2,:style=> 'width: 300px'} %>
  <%= f.input :pincode, label: 'PinCode',:input_html => {:maxlength =>2,:style=> 'width: 300px'} %>
  <%= f.input :store_mobile, label: 'Mobile Number',:input_html => {:maxlength =>2,:style=> 'width: 300px'} %>
  <%= f.input :store_email,label:'StoreEmail', placeholder: 'user@domain.com',:input_html => {:maxlength =>2,:style=> 'width: 300px'} %>
  <%= f.button :submit %>
<% end %>
