<%= form_tag "/graph/showdata" do %>
  
  <div class="field">
    Choose your table
    <%= select_tag(:table, options_for_select([['Order Table','order'], ['Food Table','food'], ['Sales Table','sales'], ['Returning Customers','customer count']])) %>
  </div>

  <div class="field">
    Choose the type of chart
    <%= select_tag(:chart, options_for_select([['Pie',"pie"], ['Spline',"spline"], ['Bar',"bar"], ['line',"line"]])) %>
  </div>

  <div class="field">
    Single Chart:
    <%= check_box_tag(:singleChart, "single chart") %>
  </div>
  <div class="field">
    Double Chart:
    <%= check_box_tag(:doubleChart, "double chart") %>
  </div>
  <div class="field">
    Triple chart:
    <%= check_box_tag(:tripleChart, "triple chart") %>
  </div>
  <div class="field">
    Combo chart:
    <%= check_box_tag(:multiChart, "multiple chart") %>
  </div>

  <div class="actions">
    <%= submit_tag 'view' %>
  </div>
<% end %>
