<p id="notice"><%= notice %></p>
<h3 class="text-center">Foods you may like</h3>
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <% @record_products.each do |product| %>
      <%= render "product_row", product: product, order_item: @order_item %>
    <% end %>
  </div>
</div>
<hr>
<h3 class="text-center">Products by popularity</h3>
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <% @product_by_hits.each do |product| %>
      <%= render "product_row", product: product, order_item: @order_item %>
    <% end %>
  </div>
</div>
<hr>
<h3 class="text-center">Products for Sale</h3>
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <% @products.each do |product| %>
      <%= render "product_row", product: product, order_item: @order_item, medical_detail: @customer_data[product.id] %>
    <% end %>
  </div>
</div>
<%= link_to 'New Food', new_store_detail_product_path, class: "btn btn-primary"  if policy(@products).new?%>
<%= link_to 'Back to Store', @store_detail, class: "btn btn-primary" %>
<div class="text-center">
   <%= will_paginate @products %>
</div>