<p id="notice"><%= notice %></p>
  <strong>PizzaName</strong>
  <%= @product.name %>
  <strong>Cost</strong>
  <%= @product.offerPrice%>
 
  
  <hi>Select your Toppings</hi>
  <div class="field">
   Mozarella:
  <%= check_box_tag 'product[windows]', 'Mozarella' %>
  </div>
  <div class="field">
   Parmesan Cheese:
  <%= check_box_tag 'product[mirror]', 'Parmesan' %>
  </div>
  <div class="field">
   Pepperoni:
  <%= check_box_tag 'product[psensor]', 'Pepperoni' %>
  </div
   <div class="field">
   Capicollo:
  <%= check_box_tag 'product[windows]', 'Capicollo' %>
  </div>
  <div class="field">
   Chipotle Chicken:
  <%= check_box_tag 'product[mirror]', 'Chipotle' %>
  </div>
  <div class="field">
    Pesto sauce:
   <%= check_box_tag 'product[psensor]', 'Pesto' %>
  </div
   <div class="field">
   Bruschetta sauce:
  <%= check_box_tag 'product[psensor]', 'Bruschetta' %>
  </div
   <div class="field">
   BBQ sauce:
  <%= check_box_tag 'product[psensor]', 'BBQ' %>
  </div>
  
  <hr>
  <br>
  <h4> Food Information's :</h4>
  <p>
  <strong>Foodtype:</strong>
  <%= @product.foodType %>
  </p>

 <p>
  <strong>Foodsize:</strong>
  <%= @product.foodSize %>
  </p>
  <p>
  <strong>Ingredients:</strong>
  <%= @product.ingredients %>
  </p>
  
  <p>
  <strong>description:</strong>
  <%= @product.description %>
  </p>
  <p>
  <strong>allergens:</strong>
  <%= @product.allergens %>
  </p>
  <p>
  <strong>calorie:</strong>
  <%= @product.calorie %>
  </p>

  <p>
  <strong>Original price:</strong>
  <%= @product.price %>
  </p>

  <p>
  <strong>Quantityavailable:</strong>
  <%= @product.quantityAvailable %>
  </p>
<br>
<hr>
<h2>Reviews</h2>
<% @product.comments.each do |comment| %>
<p>
  <strong>Comment:</strong>
  <%= comment.comment %>
</p>

<p>
  <strong>Rating:</strong>
  <%= comment.rating %>
</p>
<% end %>


<%= link_to 'Edit', edit_store_detail_product_path(@store_detail,@product) %> |
<%= link_to 'Back', store_detail_products_path(@store_detail) %> |
<%= link_to "Pizza Comments", product_comments_path(@product) %>

