<li> <%= link_to "Admin Panel",rails_admin_path %></li> | 
<%= link_to "Order Graph",administrator_application_order_path %> | 
<%= link_to "Sales Graph",administrator_application_sales_path %> | 
<%= link_to "Customer Graph",administrator_application_customer_path %> | 
<%= link_to "Food Graph",administrator_application_food_path %> | 
<%= link_to "Extras",administrator_application_extra_path %>
<hr>
<h1>Charts</h1>
<%= high_chart("my_combine_div1", @chart1) %>
<%= high_chart("my_combine_div2", @chart2) %>
<%= high_chart("my_combine_div3", @chart3) %>
<%#= high_chart("my_combine_div4", @chart4) %>