<li> <%= link_to "Admin Panel",rails_admin_path %></li>
<%= link_to "Order Graph",administrator_application_order_path %> | 
<%= link_to "Sales Graph",administrator_application_sales_path %> | 
<%= link_to "Customer Graph",administrator_application_customer_path %> | 
<%= link_to "Food Graph",administrator_application_food_path %> | 
<%= link_to "Extras",administrator_application_extra_path %>

<hr>
<%= render 'form'%>