<!DOCTYPE html>
<html>
  <head>
    <title>AuthProject</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body {margin: 0;}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}
body {
    background-color: lightblue;
}
</style>
  </head>

  <body>
    <ul class="topnav">
         <li class="active"><%= link_to "Home", root_path %></li>
        <% unless member_signed_in? %>
          <li class="right"><%= link_to "Sign up", new_member_registration_path %></li>
          <li class="right"><%= link_to "Log in", new_member_session_path %></li> 
        <% end %>
         <% if member_signed_in? && current_member.admin? %>
             <li><%= link_to "Admin Panel",administrator_root_path %><li>
         <%end%>
         <%if member_signed_in? %>
          <li class="right"><%= link_to "Log out", destroy_member_session_path, method: :delete %></li>
          <li class="right"><%= link_to current_member.email,edit_member_registration_path %><li>
         <% end %>
  </ul>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p
    <%= yield %>
  </body>
</html>
