<!DOCTYPE html>
<html>
  <head>
    <title>Dublin Pizza Shops</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% if request.ssl? %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <% else %>
    <%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <% end %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
<style>
body {margin: 0;}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display:inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;   display:inline-block;
    float: none;  text-align: center; }

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}
body {
    background-color: lightblue;
}
</style>
  </head>
    <ul class="topnav">
        <tr>
         <li class="active"><%= link_to "Home", root_path %></li>
           <% if member_signed_in? %>
          <li class="active"><%= link_to "Profile", signedinuserprofile_path %></li>
           <%end%>
        <% unless member_signed_in? %>
          <li class="right"><%= link_to "Sign up", new_member_registration_path %></li>
          <li class="right"><%= link_to "Log in", new_member_session_path %></li> 
        <% end %>
         <% if member_signed_in? && current_member.admin? %>
             <li><%= link_to "Admin Panel",administrator_root_path %><li>
         <%end%>
         </tr>
         <tr>
         <li class="right">
         <h1 class="cart-text"><%= render 'layouts/cart_text' %></h1>
         </li>
         </tr>
         <tr>
         <%if member_signed_in? %>
          <li class="right"><%= link_to "Log out", destroy_member_session_path, method: :delete %></li>
          <li class="right"><%= link_to current_member.email,edit_member_registration_path %><li>
         <% end %>
         </tr>

  </ul>
  <div class="container-fluid">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p
    <%= yield %>
  </div>
    
  </body>
</html>

