<!DOCTYPE html>
<html>
  <head>
    <title>AuthProject</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% unless member_signed_in? %>
          <li><%= link_to "Sign up", new_member_registration_path %></li>
          <li><%= link_to "Sign in", new_member_session_path %></li> 
        <% end %>
         <%if member_signed_in? %>
            <% if current_member.user_name == 'admin' %>
              <%= link_to "Dashboard", rails_admin_path %>
            <% else %>
              <li></li><%= link_to current_member.email,edit_member_registration_path %><li>
              <li><%= link_to "Sign out", destroy_member_session_path, method: :delete %></li>
            <% end %>
          <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p
    <%= yield %>
  </body>
</html>
